
.container {
  width: 560px;
  height: 410px;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
}

.part {
  margin-top: 16px;
}

.buttons {
  margin-top: 60px;
}

.dateField {
  width: 240px;
}