.container {
  width: 210px;
}

.header {
  position: relative;
  height: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.header.locked {
  background-color: #cf2b4e;
}

.header.unlocked {
  background-color: #01a97e;
}

.title {
  color: #ffffff;
  position: absolute;
  left: 11px;
  top: 11px;

}

.toggle {
  position: absolute;
  right: 10px;
  top: 7px;
}

.body {
  height: 180px;
  background-color: #faf9f7;
  border: solid 1px #edece9;
  padding: 10px;
}

.val {
  font-weight: bold;
}